<section class="user-section card-horizontal-rad">
  <div class = "card-body-rad"> 
  <h5><%= friendship_helper %></h5>
  <h2><%= "Name: #{@user.name}" %></h2>
  <%= image_tag  "#{@user.avatar}", class: "friend-avatar"%>
  <article class="timeline">
    <%= current_user.total_transaction(@user.id) if current_user.friend?(@user) %>    
  </article>
   </div>
</section>
