<h1><%=current_user.email%></h1>
<div class="container-fluid container-custom" id="profile_links">
    <%= link_to  "My Transactions", index_by_user_path, :class => "link_button"%>
    <%= link_to  "My External Transactions", transactions_path, :class => "link_button"%>
    <%= link_to  "All groups",  groups_path, :class => "link_button"%>
</div>