<h1><%=current_user.email%></h1>
<div class="container" id="profile_links">
    <%= link_to  "My Transactions", transactions_path, :class => "link_button"%>
    <%= link_to  "My External Transactions", groups_path, :class => "link_button"%>
    <%= link_to  "All groups",  groups_path, :class => "link_button"%>
</div>